@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #f8f8f8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pokemon-app {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  font-family: 'Press Start 2P', cursive; /* Apply font to app */
}

h1, h2 {
  font-family: 'Press Start 2P', cursive;
  color: #ffcc00; /* Pokémon yellow */
  text-shadow: 2px 2px 0px black;
}

button {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-shadow: 1px 1px 0px white;
}

button.active {
  background-color: #ff5733;
  color: white;
}

.pokemon-info h2 {
  color: #ff5733;
  font-family: 'Press Start 2P', cursive;
}

.pokemon-info img {
  width: 100px;
}

.chart-container {
  margin-top: 20px;
  width: 100%;
}
